@charset "UTF-8";

:root {
  --fonte-padrao: "Roboto", monospace;
  --cor0: #d6d6d6;
  --cor1: #ffffff;
  --cor2: #e0dfdf;
  --cor3: #cfcfcf;
  --cor4: #fecc00;
  --cor5: #f2b707;
  --cor6: #000000;
}

* {
  font-family: var(--fonte-padrao);
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cor0);
}

.container {
  max-width: 600px;
  width: 50%;
  padding: 40px;
}

.container#home-screen,
.container#cardapio-screen,
.container#carrinho-screen,
.container#menu-screen,
.container#pagamento-screen {
  min-width: 98.2vw;
  min-height: 96.5vh;
  border-radius: 0;
}

header {
  grid-column: span 2;
  text-align: center;
  margin-bottom: 30px;
}

h1 {
  font-size: 2rem;
}

.button-group {
  display: flex;
  grid-column: span 2;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

button {
  font-weight: bold;
  font-size: 1.2rem;
  max-width: 300px;
  width: 100%;
}

.button-admin {
  align-self: center;
}

figure {
  grid-column: span 2;
  justify-self: center;
}

img.logo {
  max-width: 200px;
}

div > h2 {
  position: absolute;
  font-size: 1.875rem;
  padding: 18px 25px;
  left: 250px;
  top: 0;
  transform: translateY(20px);
}

div > hr {
  width: 300px;
  position: absolute;
  left: 250px;
  top: 75px;
  transform: translateY(20px);
}

div > span#burguer {
  display: none;
}

section > div#nav {
  background-color: var(--cor0);
  height: 100vh;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
}

section > div#nav > h1 {
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

section > div#nav > nav {
  display: block;
  position: relative;
  top: 30%;
  transform: translateY(-30%);
}

section > div#nav > nav > a {
  font-size: 1.6rem;
  border-radius: 0;
  padding: 20px;
}

/*@media (min-width: 768px) {
  :root {
    --fonte-padrao: "Roboto", monospace;
    --cor0: #d6d6d6;
    --cor1: #ffffff;
    --cor2: #e0dfdf;
    --cor3: #cfcfcf;
    --cor4: #fecc00;
    --cor5: #f2b707;
    --cor6: #d4d4d4;
    --cor7: #000000;
  }

  * {
    font-family: var(--fonte-padrao);
    margin: 0;
    padding: 0;
  }

  body {
    background-color: var(--cor1);
  }

  section.container-full {
    margin-left: 250px;
    padding: 20px;
    width: calc(100% - 250px);
  }

  div > h2 {
    margin-top: 7px;
    text-align: justify;
    font-size: 1.875rem;
  }

  nav {
    background-color: var(--cor6);
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
  }

  nav > h1 {
    font-size: 1.875rem;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  nav > a {
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
    margin: 0;
    display: flex;
    position: relative;
    top: 25%;
    transform: translateY(-50%);
    padding: 10px;
    text-decoration: none;
    color: var(--cor7);
  }

  nav > a:hover {
    background-color: var(--cor4);
  }

}*/
