@charset "UTF-8";

:root {
  --fonte-padrao: "Roboto", monospace;
  --cor0: #d6d6d6;
  --cor1: #ffffff;
  --cor2: #e0dfdf;
  --cor3: #cfcfcf;
  --cor4: #fecc00;
  --cor5: #f2b707;
  --cor6: #000000;
}

* {
  font-family: var(--fonte-padrao);
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cor0);
  overflow: hidden;
}

.container,
.container#login-screen,
.container#ticket-screen {
  max-width: 600px;
  width: 50%;
  padding: 40px;
}

.container#home-screen,
.container#cardapio-screen,
.container#carrinho-screen,
.container#menu-screen,
.container#pagamento-screen,
.container#home-adm-screen,
.container#compras-screen,
.container#execucao-screen {
  display: flex;
  flex-direction: row;
  min-width: 98.2vw;
  min-height: 96.5vh;
  border-radius: 0;
}

.container#login-screen {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

p {
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

#codigo {
  font-size: 2rem;
}

#total-pago {
  font-size: 1.5rem;
}

header {
  grid-column: span 2;
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 2.5rem;
  margin: 0;
}

img.logo {
  margin-top: 60px;
  max-width: 200px;
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

button {
  font-weight: bold;
  font-size: 1.2rem;
  max-width: 300px;
  width: 100%;
}

.button-admin {
  align-self: center;
}

h2 {
  font-size: 2rem;
  position: fixed;
  top: 38px;
  left: 265px; /* Ajuste da barra de navegação */
}

hr {
  position: fixed;
  top: 92px;
  left: 250px; /* Ajuste da barra de navegação */
}

button#finalizar-pedido {
  position: fixed;
  margin-left: 0;
  left: 270px; /* Ajuste da barra de navegação */
  top: 90%;
}

button#pix,
button#cartao {
  width: 30vw;
  position: relative;
  left: 230px;
  top: 85%;
}

div > span#burguer {
  display: none;
}

section > div#nav {
  background-color: var(--cor0);
  height: 100vh;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
}

section > div#nav > h1 {
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

section > div#nav > nav {
  display: block;
  position: relative;
  top: 30%;
  transform: translateY(-30%);
}

section > div#nav > nav > a {
  font-size: 1.6rem;
  border-radius: 0;
  padding: 20px;
}

label {
  font-size: 1.5rem;
}

div#content {
  flex: 1;
  padding-left: 30px;
}

/* Garante que a imagem apareça em telas grandes */
#menina,
#menina2 {
  display: block !important;
  position: fixed;
  left: 42vw;
  top: 20vh;
  width: 440px;
}
