@charset "UTF-8";

:root {
  --fonte-padrao: "Roboto", monospace;
  --cor0: #d6d6d6;
  --cor1: #ffffff;
  --cor2: #e0dfdf;
  --cor3: #cfcfcf;
  --cor4: #fecc00;
  --cor5: #f2b707;
  --cor6: #000000;
  --cor7: #ff0000;
}

* {
  font-family: var(--fonte-padrao);
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cor0);
  overflow: hidden;
}

.container {
  font-size: 1.2rem;
  background: var(--cor1);
  border-radius: 20px;
  width: 100%;
  max-width: 350px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container#ticket-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.content {
  background: #fff;
  border: 2px dashed #28a745;
  padding: 15px;
  margin: 20px 0;
  border-radius: 8px;
}

#codigo {
  font-weight: bolder;
  font-size: 1.5em;
  color: #28a745;
  letter-spacing: 3px;
}

header {
  text-align: center;
}

h1 {
  color: var(--cor6);
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.button-group {
  display: grid;
  gap: 15px;
  margin-bottom: 20px;
}

button {
  font-weight: bold;
  background: var(--cor2);
  border: none;
  border-radius: 8px;
  padding: 15px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: var(--cor3);
}

button:disabled {
  color: var(--cor7);
  cursor: not-allowed;
}

div#content > h2 {
  margin-top: 20px;
  margin-bottom: 15px;
}

hr {
  margin-bottom: 20px;
}

#carrinho-list {
  list-style: none;
  padding: 10px 0;
  min-height: 100px;
}

button#finalizar-pedido,
button#pix,
button#cartao {
  margin-top: 20px;
}

.button-admin {
  color: var(--cor4);
  font-size: 1.2rem;
  padding: 8px;
  width: 45px;
}

img.logo {
  width: 100%;
  max-width: 150px;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

span#burguer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.2s;
}

span#burguer:hover {
  background-color: var(--cor2);
}

nav#navbar {
  display: none;
}

nav > a {
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  color: var(--cor6);
  border-radius: 8px;
  transition: background-color 0.2s;
}

nav > a:hover {
  background-color: var(--cor4);
}

form {
  display: grid;
  gap: 15px;
}

label {
  font-weight: bold;
}

input {
  padding: 10px;
  background-color: var(--cor2);
  border: none;
  border-radius: 12px;
}

button[type="submit"] {
  background-color: var(--cor4);
  color: var(--cor1);
  font-size: 1.25rem;
  height: 50px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: var(--cor5);
}

h2 {
  text-align: center;
}

div#content > h2 {
  margin-top: 20px;
}

hr {
  width: 280px;
  margin: 0 auto;
  border: 1px solid var(--cor3);
}

#menina {
  display: none;
}
